* {
    font-size: 1.4rem;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
}
html {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
body{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
h1,h2 {
    font-size: 2rem;
    font-weight: lighter;
}

.headerc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.headerc > div {
    width: 0%;
}

.favorites {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-between;
    
}

.favoritesHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 2rem;
}
.favoritesHeader input {
    width: 15rem;
}

.favoritesHeader button {
    padding: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #5a646b;
    color: #ffffff;
    border-color: #5a646b;
    font-size: 1.5rem;
}
.hereWeather {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hereWeather > div {
    width: 35rem;
}
.hereWeather h3 {
    padding-left: 0rem;
    font-size: 3rem;
}
.hereWeather span{
    white-space: nowrap;
    font-size: 7rem;
    vertical-align: top;
}
.hereWeather img{
    height: 6rem;
    width: 6rem;
    padding: 2rem;
    padding-left: 0rem;
    padding-right: 6rem;
}

.weatherList {
    width: 35rem;
    font-size: 0.8rem;
}
.weatherList li {
    list-style-type: none;
    margin: 0.5rem;
    color: #ffffff;
    background-color: #b6c0c7;
    padding: 1rem;
    vertical-align: center;
    text-align: right;

}

.weatherList b{
    font-weight: bold;
    float: left;
    margin-right: 2rem;

}


.city {
    padding-top: 1rem;
    list-style-type: none;
    width: 35rem;
}
.city > * {
    display: inline;
    padding-right: 1rem;
    vertical-align: center;
    text-align: center;
}
.city h4 {
    padding-left: 0rem;
    font-size: 2rem;
}
.city button {
    padding: 0;
    margin-right: 1rem;
    margin-top: 0.5rem;
    float: right;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    transform: rotate(45deg);
    border-radius: 50%;
    background-color: #5a646b;
    color: #ffffff;
    border-color: #5a646b;
}
.city span {
    font-size: 2.5rem;
}
.city img {
    height: 2rem;
    width: 2rem;
}
#headerbutton {
    padding: 0;
    background-color: #d6e1e7;
    color: #7c969b;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    text-decoration: none;
    position: relative;
}
#headerbutton img{
    display: none;
}


@media only screen and (max-width: 1850px) {
    .body {
        background-color: khaki;
    }
    .favorites{
        display: flex;
        justify-content: space-around;
    }
    .hereWeather {
        display: flex;
        justify-content: space-around;
    }
    #headerbutton img{
        padding: 0rem;

        display: block;
        width: 3rem;
        height: 3rem;
    }
    #headerbutton span{
        display: none;
    }
    #headerbutton {
        
        display: inline-block;
        width: 3rem;
        height: 3rem;
    }
  }